@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

.wrapper-container {
    display: flex;
    padding: 96px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    background-color: #1B0E0F;
    width: 1604px;
    height: 2088px;
    margin: 226px 158px;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding: 96px 66px;
    /* align-items: center; */
    gap: 52px;
    background-color: #fff;
    width: 1412px;
    height: 1896px;
    justify-content: center;
}

.headings {
    display: flex;
    padding: 0px 32px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.blue {
    color: #002AFE;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

h1 {
    color: #181D27;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0.6px;
    margin-top: -12px;

}

.about {
    color: #535862;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.45px;
}

.section {
    display: flex;
    width: 1280px;
    align-items: center;
    gap: 96px;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.text-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.purple {
    color: #6941C6;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.head-arrow {
    display: flex;
    align-items:center;
    gap: 16px;
    width: 584px;
    justify-content: space-between;
}

.head-arrow p {
    color: #181D27;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.big-paragraph {
    overflow: hidden;
    color: #535862;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 584px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 8px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info h5 {
    color: #181D27;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.info p {
    color: #535862;
    font-size: 14px;
    line-height: 20px;
}